In [51]:
#this tutorial is from https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea
import pandas as pd
import numpy as np

In [52]:
from datetime import timedelta
from datetime import datetime

dateRng = pd.date_range(start='1/12/2018', end='10/03/2020', freq='W')
print(type(dateRng))
df = pd.DataFrame(dateRng, columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(dateRng)))
df.head(15)
print(type(df))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'pandas.core.frame.DataFrame'>

In [53]:
df.head()

        date  data
0 2018-01-14    68
1 2018-01-21    12
2 2018-01-28     4
3 2018-02-04    80
4 2018-02-11    26

In [54]:
#range index... RangeIndex(start=0, stop=142, step=1)
#index is in bold
print(df.index)

RangeIndex(start=0, stop=142, step=1)

In [55]:
df.count()

date    142
data    142
dtype: int64

In [56]:
#now this is date time index
df['datetime'] = pd.to_datetime(df['date'])
df.head()
print(df.index)
df = df.set_index('datetime')
print(df.index)
#df.drop(['date'], axis=1, inplace=True)
#df.head()
#print(type(df))

RangeIndex(start=0, stop=142, step=1)
DatetimeIndex(['2018-01-14', '2018-01-21', '2018-01-28', '2018-02-04',
               '2018-02-11', '2018-02-18', '2018-02-25', '2018-03-04',
               '2018-03-11', '2018-03-18',
               ...
               '2020-07-26', '2020-08-02', '2020-08-09', '2020-08-16',
               '2020-08-23', '2020-08-30', '2020-09-06', '2020-09-13',
               '2020-09-20', '2020-09-27'],
              dtype='datetime64[ns]', name='datetime', length=142, freq=None)

In [57]:
df.head()

                 date  data
datetime
2018-01-14 2018-01-14    68
2018-01-21 2018-01-21    12
2018-01-28 2018-01-28     4
2018-02-04 2018-02-04    80
2018-02-11 2018-02-11    26

In [60]:
df.drop(['date'], axis=1, inplace=True)
#I tried to drop "date" several times so that is the reason i got KeyErro
#df.head()

KeyError: "['date'] not found in axis"

In [63]:
#converting to strings:
stringDateRng = [str(x) for x in dateRng]
print(type(stringDateRng))
print(stringDateRng)
#timestamp_date_rng = pd.to_datetime(string_date_rng, infer_datetime_format=True)

<class 'list'>
['2018-01-14 00:00:00', '2018-01-21 00:00:00', '2018-01-28 00:00:00', '2018-02-04 00:00:00', '2018-02-11 00:00:00', '2018-02-18 00:00:00', '2018-02-25 00:00:00', '2018-03-04 00:00:00', '2018-03-11 00:00:00', '2018-03-18 00:00:00', '2018-03-25 00:00:00', '2018-04-01 00:00:00', '2018-04-08 00:00:00', '2018-04-15 00:00:00', '2018-04-22 00:00:00', '2018-04-29 00:00:00', '2018-05-06 00:00:00', '2018-05-13 00:00:00', '2018-05-20 00:00:00', '2018-05-27 00:00:00', '2018-06-03 00:00:00', '2018-06-10 00:00:00', '2018-06-17 00:00:00', '2018-06-24 00:00:00', '2018-07-01 00:00:00', '2018-07-08 00:00:00', '2018-07-15 00:00:00', '2018-07-22 00:00:00', '2018-07-29 00:00:00', '2018-08-05 00:00:00', '2018-08-12 00:00:00', '2018-08-19 00:00:00', '2018-08-26 00:00:00', '2018-09-02 00:00:00', '2018-09-09 00:00:00', '2018-09-16 00:00:00', '2018-09-23 00:00:00', '2018-09-30 00:00:00', '2018-10-07 00:00:00', '2018-10-14 00:00:00', '2018-10-21 00:00:00', '2018-10-28 00:00:00', '2018-11-04 00:00:00', '2018-11-11 00:00:00', '2018-11-18 00:00:00', '2018-11-25 00:00:00', '2018-12-02 00:00:00', '2018-12-09 00:00:00', '2018-12-16 00:00:00', '2018-12-23 00:00:00', '2018-12-30 00:00:00', '2019-01-06 00:00:00', '2019-01-13 00:00:00', '2019-01-20 00:00:00', '2019-01-27 00:00:00', '2019-02-03 00:00:00', '2019-02-10 00:00:00', '2019-02-17 00:00:00', '2019-02-24 00:00:00', '2019-03-03 00:00:00', '2019-03-10 00:00:00', '2019-03-17 00:00:00', '2019-03-24 00:00:00', '2019-03-31 00:00:00', '2019-04-07 00:00:00', '2019-04-14 00:00:00', '2019-04-21 00:00:00', '2019-04-28 00:00:00', '2019-05-05 00:00:00', '2019-05-12 00:00:00', '2019-05-19 00:00:00', '2019-05-26 00:00:00', '2019-06-02 00:00:00', '2019-06-09 00:00:00', '2019-06-16 00:00:00', '2019-06-23 00:00:00', '2019-06-30 00:00:00', '2019-07-07 00:00:00', '2019-07-14 00:00:00', '2019-07-21 00:00:00', '2019-07-28 00:00:00', '2019-08-04 00:00:00', '2019-08-11 00:00:00', '2019-08-18 00:00:00', '2019-08-25 00:00:00', '2019-09-01 00:00:00', '2019-09-08 00:00:00', '2019-09-15 00:00:00', '2019-09-22 00:00:00', '2019-09-29 00:00:00', '2019-10-06 00:00:00', '2019-10-13 00:00:00', '2019-10-20 00:00:00', '2019-10-27 00:00:00', '2019-11-03 00:00:00', '2019-11-10 00:00:00', '2019-11-17 00:00:00', '2019-11-24 00:00:00', '2019-12-01 00:00:00', '2019-12-08 00:00:00', '2019-12-15 00:00:00', '2019-12-22 00:00:00', '2019-12-29 00:00:00', '2020-01-05 00:00:00', '2020-01-12 00:00:00', '2020-01-19 00:00:00', '2020-01-26 00:00:00', '2020-02-02 00:00:00', '2020-02-09 00:00:00', '2020-02-16 00:00:00', '2020-02-23 00:00:00', '2020-03-01 00:00:00', '2020-03-08 00:00:00', '2020-03-15 00:00:00', '2020-03-22 00:00:00', '2020-03-29 00:00:00', '2020-04-05 00:00:00', '2020-04-12 00:00:00', '2020-04-19 00:00:00', '2020-04-26 00:00:00', '2020-05-03 00:00:00', '2020-05-10 00:00:00', '2020-05-17 00:00:00', '2020-05-24 00:00:00', '2020-05-31 00:00:00', '2020-06-07 00:00:00', '2020-06-14 00:00:00', '2020-06-21 00:00:00', '2020-06-28 00:00:00', '2020-07-05 00:00:00', '2020-07-12 00:00:00', '2020-07-19 00:00:00', '2020-07-26 00:00:00', '2020-08-02 00:00:00', '2020-08-09 00:00:00', '2020-08-16 00:00:00', '2020-08-23 00:00:00', '2020-08-30 00:00:00', '2020-09-06 00:00:00', '2020-09-13 00:00:00', '2020-09-20 00:00:00', '2020-09-27 00:00:00']

In [73]:
#convert the strings to timestamps 
#print(stringDateRng[1])
#test = datetime.strptime(stringDateRng[1], '%y-%m-%d %H:%M:%S')
#test = datetime.strptime('2020-09-20', '%Y-%m-%d')
test = datetime.strptime('2020-09-20 01:01:01', '%Y-%m-%d %H:%M:%S')
print(test)

2020-09-20 01:00:00

In [74]:
test = datetime.strptime(stringDateRng[1], '%Y-%m-%d %H:%M:%S')
print(test)

2018-01-21 00:00:00

In [75]:
timestampDateRange = pd.to_datetime(stringDateRng, infer_datetime_format=True)

In [76]:
print(timestampDateRange)

DatetimeIndex(['2018-01-14', '2018-01-21', '2018-01-28', '2018-02-04',
               '2018-02-11', '2018-02-18', '2018-02-25', '2018-03-04',
               '2018-03-11', '2018-03-18',
               ...
               '2020-07-26', '2020-08-02', '2020-08-09', '2020-08-16',
               '2020-08-23', '2020-08-30', '2020-09-06', '2020-09-13',
               '2020-09-20', '2020-09-27'],
              dtype='datetime64[ns]', length=142, freq=None)

In [78]:
string_date_rng_2 = ['June-01-2018', 'June-02-2018', 'June-03-2018']

In [79]:
timestamp_date_rng_2 = [datetime.strptime(x,'%B-%d-%Y') for x in string_date_rng_2]

In [80]:
print(timestamp_date_rng_2)

[datetime.datetime(2018, 6, 1, 0, 0), datetime.datetime(2018, 6, 2, 0, 0), datetime.datetime(2018, 6, 3, 0, 0)]

In [81]:
df2 = pd.DataFrame(timestamp_date_rng_2, columns=['date'])

In [82]:
df2.head()

        date
0 2018-06-01
1 2018-06-02
2 2018-06-03

In [83]:
df3 = pd.DataFrame(string_date_rng_2, columns=['date'])

In [84]:
df3.head()

           date
0  June-01-2018
1  June-02-2018
2  June-03-2018

In [86]:
df[df.index.day == 3]
df.head()

            data
datetime
2018-01-14    68
2018-01-21    12
2018-01-28     4
2018-02-04    80
2018-02-11    26

In [88]:
df[df.index.day == 2]
df.head()

            data
datetime
2018-01-14    68
2018-01-21    12
2018-01-28     4
2018-02-04    80
2018-02-11    26

In [89]:
print(df.index)

DatetimeIndex(['2018-01-14', '2018-01-21', '2018-01-28', '2018-02-04',
               '2018-02-11', '2018-02-18', '2018-02-25', '2018-03-04',
               '2018-03-11', '2018-03-18',
               ...
               '2020-07-26', '2020-08-02', '2020-08-09', '2020-08-16',
               '2020-08-23', '2020-08-30', '2020-09-06', '2020-09-13',
               '2020-09-20', '2020-09-27'],
              dtype='datetime64[ns]', name='datetime', length=142, freq=None)

In [90]:
#@https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea
#wtf is here:
print(df['2018-01-14'])

KeyError: '2018-01-14'